In [ ]:
Understanding the vairiables in Python

In [1]:
x = 5
y= 3
x+y

8

In [2]:
Rules for declaring the variables:
1. No namespaces while declaring the variable name.

first name = 'Fayaz'
print(first name)

SyntaxError: invalid syntax (<ipython-input-2-98a0561e0fb2>, line 1)

In [3]:
firstname = 'Fayaz'
print (firstname)

Fayaz

In [5]:
first_name = 'Fayaz'
print (first_name)

Fayaz

In [ ]:
2. variable name should not start with a number ** important interview question

In [6]:
1name = 'sandeep'
print(1name)

SyntaxError: invalid syntax (<ipython-input-6-2eb9abb0d9a8>, line 1)

In [7]:
name1 = 'Sandeep'
print(name1)

Sandeep

In [8]:
3. variable name should not include any special characters.


name@ = 'Fayaz'
print(name@)

SyntaxError: invalid syntax (<ipython-input-8-5c614985ef84>, line 1)

In [ ]:
=Introduction to datatypes in python:
    1.string -----------------> str
    2. numbers----------------->integers (int), decimals (float)
    3. list ----------------> list
    4. tuple ---------------> tuple
    5. dictionaries ----------------> dict

In [ ]:
=Classification of datatypes:
    
    1.Mutable datatypes : which we can edit/alter once it has been created.
        
    2.immutable datatypes : which we cannot edit/alter once it has been created.

In [9]:
=Introduction to string datatypes:
    Definition: A string is nothing but a series of characters.
        
    Classification : A string is classified as an immutable datatype.
        
    How to define a string......?
    3 possible ways
    1 Single quotes
    2 double quotes
    3 triple quotes

SyntaxError: invalid syntax (<ipython-input-9-ca673cc2edc9>, line 1)

In [16]:
name1='anjali'
print(name)

abdul

In [15]:
name2 = "Kiran"
print(name)

abdul

In [14]:
name3='''abdul'''
print(name)

abdul

In [ ]:
clarification: Completely your choice what you want to use.

In [ ]:
Builtin methods of string:
    to validate and verify the datatypes:

In [17]:
type(name1)

str

In [18]:
type(name2)

str

In [19]:
type(name3)

str

In [20]:
full_name = 'uday kiran'
print(full_name)

uday kiran

In [24]:
print(full_name.title()) #output will be neatly formatted titlecase

Uday Kiran

In [26]:
#req. I want to have all the letters in capital

In [28]:
print(full_name.upper())

UDAY KIRAN

In [ ]:
req. I want all small letters.

In [29]:
print(full_name.lower())

uday kiran